.navbar{
    display: flex;
    justify-content: center;
    background-color: rgb(79 70 229);
    color: white;
    .container{
        width: 1400px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0px;

    .logo {
      font-size: 34px;
      font-weight: bold;
            .text{

            }
        }
        .links{
            display: flex;
            align-items: center;
            gap: 24px;
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            button{
                color: white;
                padding: 10px 20px;
                border-radius: 5px;
                border: 1px solid white;
                cursor: pointer;
                background-color: transparent;

                &:hover{
                    background-color:rgb(129 140 248) ;
                    border-color:rgb(165 180 252) ;
                }

            }
        }
    }
}